* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-light: #FFFFFF;
    --background-light-grey: #EEEFF2;
    --background-dark-grey: #E4E5E9;

    --nav-background-hover: #F7F6F7
}

li {
    list-style-type: none;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    padding: 40px;
    padding-right: 0;
    color: black;
    background-color: var(--background-light-grey);
}

h1 {
    font-size: 2.2rem;
    padding-bottom: 21px;
}

h2 {
    font-weight: 400;
    padding: 15px 15px 10px 2px;
}


/* HEADER */
header  {
    padding: 37px;
    height: 90vh;
    border-radius: 13px;
    background-color: var(--background-light);
    width: 25vw;
}

.default-project {
    padding: 18px;
}

.default-project a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 500;
}


/* MAIN */
main {
    margin: 20px auto auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.add-task {
    display: flex;
    flex-direction: row-reverse;
    /* line-height: 1.7; */
}

.hide {
    /* background-color: red;
    color: red; */
    /* content: ''; */
    position: absolute;   
    visibility: hidden;
    margin-right: 7px;

}



.add-task:focus-within {

    /* color: red; */
    display: flex;
    align-items: center;

    padding: 15px;
    /* margin-bottom: 9px; */
    background-color: var(--background-light);
    border-radius: 13px;
    font-weight: 400;
    font-size: 0.9rem;
}

.add-task label {
    /* margin-right: 7px; */
}

#input-add-task {
    padding: 15px;
    border-radius: 13px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-color: var(--background-dark-grey);
    font-weight: 300;
    font-size: 0.9rem;
}


/* after focus */
#input-add-task:focus {    
    border-radius: initial;
    padding: initial;
    background-color: initial;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

    border-style: none;
    outline: none;
}


#input-add-task:focus + label .hide {
    visibility: visible;
    /* color: red; */
    position: relative;
    /* background-color: red; */

}







.task {
    padding: 15px;
    margin-bottom: 9px;
    background-color: var(--background-light);
    border-radius: 13px;
    font-weight: 400;
    font-size: 0.9rem;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    --size: 17px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border: solid 2px currentColor;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light-grey);

    cursor: pointer;

}

.custom-checkbox:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 12px;
    color: white;
    margin: 5px;
    display: none;
}

[type="checkbox"]:checked + label .custom-checkbox {
    background-color: black;
}

[type="checkbox"]:checked + label .custom-checkbox::after {
    display: block;
}

.task label::after {
    content: '';
    position: absolute;
    right: 0;
    left: 24px;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 160ms ease-in-out;
} 

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.task label {
    display: flex;
    align-items: center;
    column-gap: 7px;
    position: relative;
    display: inline-flex;
    line-height: 1.7;
    cursor: pointer;
}


/* Hover */
.default-project:hover {
    background-color: var(--nav-background-hover);
    border-radius: 13px;
}

/* .custom-checkbox:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out;
} */